.search{
    flex:0 0 40%;

    display: flex;
    align-items: center;
    justify-content: center;
    
        &__input{
            font-family: inherit;
            font-size: inherit;
            color:inherit;
            background-color: $color-grey-light-2;
            border:none;
            padding: .583334rem 1.66667rem; 
            border-radius: 100px;
            width: 90%;
            margin-right:-2.9166667rem;
            transition: all .2s;

            &:focus{
                outline: none;
                width:100%;
                background-color: $color-grey-light-3;
                color:$color-black;
            }

            &::placeholder{
                font-weight: 100;
                color:$color-grey-light-4;
            }
        }

        &__input:focus + &__button{
            background-color: $color-grey-light-3;
        } 
    
        &__button{
            border: none;
            background-color: $color-grey-light-2;
            border-radius: 100px;

            &:focus{
                outline: none; 
            }

            &:active{
                transform: translateY(2px);
            }
        }
    
        &__icon{
          height:1.6667rem;
          width: 1.6667rem;
          fill: $color-grey-dark-3;
        }
    }