.section-about{
    background-color: $color-grey-light-1;
    padding: 20.833rem 0;
    margin-top: -20vh; //95vh - 75vh(header height - polygon height) 

    @include respond(tab-port){
        padding: 15.667rem 0;
    }
}

.section-features{
    padding: 20rem 0;
	background-image: linear-gradient(
		to right bottom, 
		rgba($color-primary,0.8), 
		rgba($color-primary-dark,0.8)) , url(../images/nat-4.jpg);
    background-size: cover;
    margin-top: -10rem;
    transform: skewY(-7deg);

    // select direct chile element
    & > *{
        transform: skewY(7deg);
    }

    @include respond(tab-port){
        padding: 15.667rem 0;
    }

}

.section-tours{
    background-color: $color-grey-light-1;
    padding: 25rem 0 12.5rem 0;
    margin-top:-10rem;  

    @include respond(tab-port){
        padding: 14.667rem 0 5rem 0;
    }

}

.section-stories{
    position: relative;
    padding:12.5rem 0;

    @include respond(tab-port){
        padding: 15.667rem 0 5rem 0;
    }

}

.section-book{
    padding:12.5rem 0;
    background-image: linear-gradient(to right bottom, $color-fourth-light, $color-fourth-dark);

    @include respond(tab-port){
        padding: 15.667rem 0 5rem 0;
    }

}

