// colors
$color-primary: #ccd1d1;
$color-primary-dark:#515a5a;

$color-secondary-light:#ffb900;
$color-secondary-dark:#ff7300;

$color-tertiary-light:#2888ff;
$color-tertiary-dark:#5643fa;

$color-fourth-light:rgb(189, 243, 189);
$color-fourth-dark:rgb(150, 182, 150);

$color-grey-light-1:#f7f7f7;
$color-grey-light-2:#eee;

$color-grey-dark:#777;
$color-grey-dark-1:#999;
$color-grey-dark-2:#333;

$color-white:#fff;
$color-black:#000;
$color-grey:#D9D6D6;

$color-invalid:rgba(228, 13, 13, 0.5);

//Font
$default-font-size:1.33rem;

// Grid
$grid-row-width:1140px;
$gutter-horizontal: 6rem;
$gutter-vertical : 8rem;
$gutter-vertical-small:5rem;