:root {
  --margin-reset:0;
  --padding-reset:0;
  --shadow-dark:0 2rem 6rem rgba(0,0,0,.3); }

*,
*::after,
*::before {
  margin: var(--margin-reset);
  padding: var(--padding-reset);
  box-sizing: inherit; }

html {
  font-size: 12px; }

body {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #777;
  line-height: 1.6;
  background-image: linear-gradient(to right bottom, #ff3366, #ba265d);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }

.logo {
  height: 2.71rem;
  margin-left: 1.66667rem; }

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .search__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: #f4f2f2;
    border: none;
    padding: .583334rem 1.66667rem;
    border-radius: 100px;
    width: 90%;
    margin-right: -2.9166667rem;
    transition: all .2s; }
    .search__input:focus {
      outline: none;
      width: 100%;
      background-color: #f0eeee;
      color: #000; }
    .search__input::placeholder {
      font-weight: 100;
      color: #ccc; }
  .search__input:focus + .search__button {
    background-color: #f0eeee; }
  .search__button {
    border: none;
    background-color: #f4f2f2;
    border-radius: 100px; }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: translateY(2px); }
  .search__icon {
    height: 1.6667rem;
    width: 1.6667rem;
    fill: #999; }

.user-nav {
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center; }
  .user-nav > * {
    padding: 0 1.66667rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center; }
    .user-nav > *:hover {
      background-color: #f4f2f2; }
  .user-nav__icon-box {
    position: relative; }
  .user-nav__icon {
    height: 1.875rem;
    width: 1.875rem;
    fill: #777; }
  .user-nav__notification {
    font-size: .6667rem;
    background-color: #eb2f64;
    color: #fff;
    border-radius: 50%;
    width: 1.45833rem;
    height: 1.45833rem;
    position: absolute;
    top: 1.25rem;
    right: .83334rem;
    text-align: center; }
  .user-nav__user-photo {
    height: 3.125rem;
    border-radius: 50%;
    margin-right: .8334rem; }

.side-nav {
  font-size: 1.16667rem;
  margin-top: 2.916667rem; }
  .side-nav__item {
    list-style: none;
    position: relative; }
    .side-nav__item:not(:last-child) {
      margin-bottom: .416667rem; }
  .side-nav__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: #eb2f64;
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s; }
  .side-nav__item:hover::before, .side-nav__item--active::before {
    transform: scaleY(1);
    width: 100%; }
  .side-nav__item:active::before {
    background-color: #ff3366; }
  .side-nav__link:link, .side-nav__link:visited {
    text-decoration: none;
    color: #faf9f9;
    text-transform: uppercase;
    display: block;
    padding: 1.25rem 2.5rem;
    position: relative;
    z-index: 100;
    display: flex;
    align-items: center; }
  .side-nav__icon {
    width: 1.458334rem;
    height: 1.458334rem;
    margin-right: 1.6667rem;
    fill: currentColor; }

.legal {
  font-size: 1rem;
  text-align: center;
  padding: 2.083334rem;
  color: #ccc; }

.container {
  max-width: 100rem;
  margin: 6.667rem auto;
  background-color: #faf9f9;
  box-shadow: var(--shadow-dark); }

.header {
  font-size: 1.166667rem;
  height: 5.83334rem;
  background-color: #fff;
  border-bottom: #f4f2f2;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.content {
  display: flex; }

.sidebar {
  background-color: #333;
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.hotel-view {
  background-color: #fff;
  flex: 1;
  height: 80rem; }

/*# sourceMappingURL=main.css.map */
